<h1>Router Demo</h1>

<ul>
    <li *ngIf="authService.isLoggedIn() === false">
        <button (click)="authService.login()">Login</button>
    </li>
    <li *ngIf="authService.isLoggedIn() === true">
        <button (click)="authService.logout()">Logout</button>
    </li>
</ul>

<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="route-selected">HOME  </a></li>
        <li><a routerLink="/about"routerLinkActive="route-selected">ABOUT    </a></li>
        <li><a routerLink="/people" routerLinkActive="route-selected">PEOPLE</a></li>
        <li><a routerLink="/contacts" routerLinkActive="route-selected">CONTACTS</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
